@import url('/src/styles/common.less');
@import url('/src/styles/colors.less');
@import url('/src/styles/break-points.less');

.banner {
	width: 100%;
	background-image: url('src/assets/img/banner-desktop-large.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media @desktop {
		background-image: url('src/assets/img/banner-desktop.png');
	}
}

.banner__content {
	padding-top: 360px;
	padding-bottom: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 65px;

	@media @desktop {
		padding-top: 280px;
		padding-bottom: 180px;
		gap: 100px;
	}

	@media @tablet-interval {
		padding-top: 260px;
		padding-bottom: 165px;
		gap: 80px;
	}

	@media @mobile {
		padding-top: 130px;
		padding-bottom: 70px;
		gap: 60px;
	}
}

.banner__title {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	font-size: 54px;
	text-align: center;
	text-transform: uppercase;

	@media @desktop {
		font-size: 48px;
	}

	@media @tablet-interval {
		width: 255px;
	}

	@media @mobile {
		font-size: 38px;
		width: 230px;
	}
}

.banner__info {
	width: 625px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: @translucent-white;
	border-radius: 10px;

	@media @desktop {
		width: 490px;
	}

	@media @tablet-interval {
		width: 366px;
	}

	@media @mobile {
		width: 265px;
	}
}

.banner__text {
	width: 405px;
	margin: 32px 0;
	font-family: 'Space Grotesk';
	font-weight: 400;
	font-size: 16px;
	text-align: justify;

	@media @tablet-interval {
		width: 270px;
	}

	@media @mobile {
		font-size: 14px;
		width: 240px;
	}
}

.banner__button {
	margin-bottom: 25px;
}

.problem__container {
	padding: 10px 0;
	margin-bottom: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@media @desktop {
		margin-bottom: 50px;
	}

	@media @tablet-interval,
	@mobile {
		flex-direction: column;
		align-items: center;
	}

	@media @mobile {
		margin-bottom: 10px;
	}
}

.problem__image {
	width: 300px;
	height: 250px;
	background: url('src/assets/img/cancer-cells.png');
	background-repeat: no-repeat;
	background-size: contain;

	@media @desktop {
		width: 237px;
		height: 237px;
	}

	@media @tablet-interval,
	@mobile {
		display: none;
	}
}

.problem__text {
	width: 625px;
	font-family: 'Space Grotesk', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 125%;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media @desktop-large {
		height: 280px;
	}

	@media @desktop {
		width: 487px;
		height: 320px;
	}

	@media @tablet-interval {
		width: 100%;
		gap: 16px;
	}

	@media @mobile {
		width: 100%;
		font-size: 14px;
		gap: 10px;
	}
}

.problem__text span {
	display: inline-block;
}

.problem__text ul {
	margin: 0;
}

.problem__text a {
	color: @main-blue-color;
	cursor: pointer;
}

.solution__container {
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	@media @mobile {
		gap: 25px;
		margin-bottom: 30px;
	}
}

.solution__text {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 125%;
	text-align: justify;

	@media @tablet-interval {
		font-size: 16px;
	}

	@media @mobile {
		font-size: 14px;
	}
}

.developed-by__container {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 20px;

	@media @mobile {
		justify-content: center;
		font-size: 16px;
		height: 70px;
	}
}

.developed-by__container img {
	width: 170px;
	height: 70px;
	object-fit: cover;

	@media @mobile {
		width: 120px;
		height: 45px;
	}
}

.developed-by {
	border-top: 1px solid @main-blue-color;
	border-bottom: 1px solid @main-blue-color;
}