<app-header class="page-header main-page"></app-header>
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="banner__content col_lg-8 col_md-8">
				<div class="banner__title">Solving the cancer together</div>
				<div class="banner__info">
					<div class="banner__text">This site allows you to use the a generative deep learning model
						that can generate new ligands against chronic myeloid leukemia.</div>
					<button class="banner__button control-button">Try to generate</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="problem">
	<div class="container">
		<div class="row">
			<div class="problem__title section-title col_lg-8 col_md-10">
				Problem
			</div>
		</div>
		<div class="row">
			<div class="problem__container col_lg-10 col_md-10">
				<div class="problem__image"></div>
				<div class="problem__text">
					<span>Chronic myeloid leukemia is a very dangerous disease.
						About 15% of all leukemia is CML. <a>The American Cancer Society’s</a>
						estimates for chronic myeloid leukemia in the US for 2022 are:</span>
					<ul>
						<li>About 8,860 new cases will be diagnosed with CML</li>
						<li>About 1,220 people will die of CML</li>
					</ul>
					<span>About 1 person in 526 will get CML in their lifetime in the US.
						And currently there is no medicine that would effectively combat this disease.</span>
					<span>The process of drug development is very time-consuming and expensive. Currently, there are several types
						of inhibitors, but they are not able to block any mutations of leukemia. And although scientists are
						actively
						working to find a solution, at the moment the problem remains unresolved.</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="solution">
	<div class="container">
		<div class="row">
			<div class="solution__title section-title col_lg-8 col_md-8">
				Solution
			</div>
		</div>
		<div class="row">
			<div class="solution__container col_lg-10 col_md-10">
				<div class="solution__text">
					One of the possible solutions that will speed up the process of finding the necessary medicine is a combined
					approach: simultaneous use of computer modeling methods and generative neural networks. The purpose of our
					work
					is to generate in this way a multikinase inhibitor, which will be unique for every mutation.
				</div>
				<button class="solution__button control-button">Try to generate</button>
			</div>
		</div>
	</div>
</section>
<section class="related-articles">
	<div class="container">
		<div class="row">
			<div class="related-articles__title section-title col_lg-8 col_md-8">
				Related articles
			</div>
		</div>
		<div class="row">
			<app-slider class="col_lg-8 col_md-10"></app-slider>
		</div>
	</div>
</section>
<section class="developed-by">
	<div class="container">
		<div class="row">
			<div class="developed-by__container col_lg-12 col_md-12">
				<div>Developed by</div>
				<a href="https://bsu.by/" target="_blank">
					<img src="assets/img/bsu-logo.jpg" alt="Logo of BSU">
				</a>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>