@import url('/src/styles/colors.less');
@import url('/src/styles/break-points.less');

.menu {
	width: 410px;
}

.menu ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu li {
	display: inline-block;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 400;
	font-size: 18px;

	@media @desktop {
		font-size: 16px;
	}
}

.menu a {
	color: @translucent-black;
}

.menu a:hover {
	color: @text-color;
}

.menu a.active {
	color: @text-color;
}