.logo {
	display: flex;
	flex-direction: column;
}

.logo span {
	display: inline-block;
	font-family: 'Jura', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.logo__title {
	font-size: 32px;
	line-height: 38px;
}

.logo__subtitle {
	font-size: 18px;
	line-height: 21px;
}