<app-header class="page-header"></app-header>
<section class="about">
	<div class="container">
		<div class="row">
			<div class="about__title section-title col_lg-8 col_md-10">
				About
			</div>
		</div>
		<div class="row">
			<div class="about__text col_lg-10 col_md-10">
				Cancer is a generic term for a large group of diseases that can affect any part of the body. Leukemia - Is a
				group of blood cancers that usually begin in the bone marrow and result in high numbers of abnormal blood cells.
				Unlike other cancers, leukemia generally doesn’t form into a mass (tumor) that can be seen in imaging tests,
				such as X-rays. There are many types of leukemia.
				Nowadays there are 3 main types of inhibitors, but they aren’t able to block any leukemia mutations. Main aim of
				our work - build-up a multi-kinase inhibitor, which will be unique for every mutation.
				Researchers have shown that various pyrimidine derivatives are excellent inhibitors and are currently used in
				the treatment of some types of leukemia. Because of it we will try to build our inhibitors based on pyrimidine
				derivatives.<br><br>
				So, we want to build a generative deep learning model, which will be able to generate new ligands for leukemia.
				Our main goal : find new most effective multi-kinase inhibitors, which are based on pyrimidine.
				We have obtained more than 500,000 pyrimidine derivatives from open chemical libraries, more precisely, their
				properties and presentation in various formats, and after cleaning them, we had only 100,000.
				As inputs of our model we have chosen 2 string formats : smiles and kekule smiles, and indicative
				characteristics of each molecule. In output we expected only these 2 string formats, which will be calculated
				from one latent vector, but regardless.
			</div>
		</div>
		<div class="row">
			<div class="about__conferences conferences col_lg-8 col_md-10">
				<h2 class="conferences_title">Conferences & publications</h2>
				<ul class="conferences_list">
					<li>ХIХ Международная научная конференция "МОЛОДЁЖЬ В НАУКЕ 2022"</li>
					<li>Международный конгресс по информатике: информационные системы и технологии (CSIST'2022)</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>