<app-header class="page-header"></app-header>
<section class="contacts">
	<div class="container">
		<div class="row">
			<div class="our-team__title section-title col_lg-8 col_md-10">
				Contacts
			</div>
		</div>
		<div class="row">
			<div class="contacts__persons">
				<app-person-card *ngFor="let person of personsService.persons" [person]="person" class="contacts-page"
					[notFlip]="true"></app-person-card>
			</div>
		</div>
	</div>
</section>
<section class="contacts-form">
	<div class="container">
		<div class="row">
			<div class="contacts-form__container col_lg-10 col_md-10">
				<h2 class="contacts-form__title">Contact us!</h2>

				<div class="contacts-form__wrapper">
					<div class="contacts-form__inf inf">
						<div class="inf__text">If you have any questions, comments or suggestions, please contact us!
							Our team will be glad to receive feedback.</div>
						<div class="inf__univercity">
							<img src="assets/img/bsu-logo.jpg" alt="Logo of BSU">
							<div class="inf__ref">
								<a href="https://bsu.by/" target="_blank">
									bsu.by
									<img src="/assets/icons/ref-arrow.svg">
								</a>
							</div>
						</div>
					</div>
					<app-contact-form class="contacts-form__form"></app-contact-form>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>