@import url('/src/styles/colors.less');
@import url('/src/styles/common.less');


.switch-buttons {
	display: flex;
	flex-direction: row;
}

.upload-button,
.generate-button {
	width: 50%;
	height: 50px;
	border: none;
	background: none;
	cursor: pointer;

	font-family: 'Jura', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: @translucent-black;

	box-sizing: border-box;
	padding-left: 50px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	@media @tablet-interval,
	@mobile {
		padding-left: 0;
		justify-content: center;
	}

	@media @mobile {
		font-size: 16px;
	}
}

.upload-button.active,
.generate-button.active {
	border: 1px solid @translucent-black;
	border-bottom: none;
	color: @text-color;
}